a{
    text-decoration: none;
}

.card_container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 380px;

    #thumbnail_image{
       height: 202px; 
       width: 100%;
       border-radius: 10px;
    }

    .video_label{
        padding: 5px;
        display: flex;
        
        img{
            flex-basis: 20%;
            height: 35px;
            clip-path: circle();
        }

        .video_label__text{

            div{
                margin-top: 5px;

                .channel_name{
                  font-size: small;
                  color: gray;
                }
    
                .about{
                    font-size: small;
                    color: gray;

                    i{
                        font-size: 5px;
                        vertical-align: middle;
                        margin: 0 2px;
                    }
                }
            }
          
        }
    }
}