.videopage_container{
    display: flex;
    padding: 10px 50px;
    height: 100vh;

    .video_container{
        
        flex-basis: 100%;
        width: 100%;
        height: 100%;

        h3{
            margin-top: 10px;
        }
    }

    .suggestedvideos_container{
        flex-basis: 20%;
        padding: 0 30px;

        .suggestion_container{
            width: 30vw;
            max-width: 350px;
        }

    }
}