.sidebar_container{
    display: flex;
    flex-direction: column;
    width: 15vw;

    div{
        display: flex;
        padding: 15px;
        width: 100%;
        border-radius: 5px;
        margin-left: 5px;
        transition: 0.2s;
        max-width: 200px;
        cursor: pointer;
        
        &:hover{
            background-color: #E5E5E5;
        }
    }

    i{
        width: 18px;
        height: 16px;
        margin-right: 30px;

    }
}
