.suggestedvideocard_container{
    display: flex;
    flex-direction: column;


    .card_container{
        display: flex;
        flex-direction: row;
        height: 100px;
        margin-bottom: 20px;
     

        #thumbnail_image{
            width: 200px;
            height: 100%;
        }
    }
}